:root {
    --body-bg: #012652;
    --heading-color: #0D94FB;
    --secondary-color: #888888;
    --tertiary-color: #BEBEBE;
    --near-black: #282828;
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: var(--near-black);
}

.landing-page-container.categories {
    margin-top: 20vh;
    padding: 0 10rem;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-container.categories h3 {
    font-size: 1.75rem;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-align: center;
}

.landing-page-container.categories>i {
    margin: 4rem;
}

.landing-page-content.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.landing-page-content.categories img {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    padding: 5px;
    border: 5px solid var(--body-bg);
    object-fit: cover;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-card p {
    font-size: 1.5rem;
    font-weight: bold;
}

.category-card:nth-child(1) {
    text-shadow: 2px 2px #FF0000;
}

.category-card:nth-child(2) {
    text-shadow: 2px 2px #ff8c00;
}

.category-card:nth-child(3) {
    text-shadow: 2px 2px skyblue;
}

.category-card:nth-child(4) {
    text-shadow: 2px 2px #ff5f77;
}


@media screen and (max-width: 928px) {
    .landing-page-content.categories img {
        width: 12.5rem;
        height: 12.5rem;
    }

    .landing-page-container.categories {
        padding: 0 7.5rem;
    }
}

@media screen and (max-width: 768px) {
    .landing-page-container.categories {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 688px) {
    .landing-page-container.categories {
        padding: 0 3rem;
    }

    .landing-page-content.categories img {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (max-width: 548px) {
    .landing-page-content.categories {
        flex-direction: column;
        align-self: center;
    }

    .landing-page-container.categories h3 {
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-align: center;
        word-spacing: 4px;
    }


}