:root {
    --body-font: 'Nunito', sans-serif;
}

.image {
    width: 150px;
    height: 150px;
    font-family: var(--body-font);
}

.image.circle {
    border-radius: 100%;
}

.image.resizable {
    height: 100%;
    width: 50%;
}