:root {
    --card-bg: #FFFF00;
    --body-bg: #800080;
    --near-black: #0a0a0a;
    --near-white: whitesmoke;
    --title-font: 'Sacramento', cursive;
    --body-font: 'Nunito', sans-serif;
}

.rules-page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 60%;
    gap: 2rem;
}

.rule {
    font-size: 1.25rem;
    display: flex;
    letter-spacing: 0.025rem;
    line-height: 2.5rem;
}

.rule span {
    margin-right: 0.75rem;
}

body {
    background-color: var(--body-bg);
    color: var(--near-white);
    font-family: var(--body-font);
}

.rules-title {
    text-align: center;
    font-size: 2.25rem;
    margin: 4rem 0;
}

.btn-millenia {
    margin: 2rem auto;
    width: 10rem;
    padding: 0.75rem 0;
    font-family: var(--body-font);
    font-size: 1.25rem;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--body-bg);
    border-radius: 2px;
}

@media screen and (max-width: 500px) {
    .rules-title {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 600px) {
    .rules-page-container {
        width: 80%;
    }
}