:root {
    --body-bg: #012652;
    --heading-color: #0D94FB;
    --secondary-color: #888888;
    --tertiary-color: #BEBEBE;
    --near-black: #282828;
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: var(--near-black);
}

.landing-page-container {
    margin-top: 15vh;
    display: flex;
    padding: 0 2rem;
    opacity: 1;
}

.filter-section {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filter-section input[type="radio"],
.filter-section input[type="checkbox"] {
    margin-right: 5px;
}

.filter-section>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-section>.filter-section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filter-section-title p {
    border-bottom: 1px solid;
    padding-bottom: 1px;
}

.filter-section-title h3 {
    padding-bottom: 1px;
}

.filter-header {
    margin-bottom: 1rem;
}

.price-filter p {
    display: flex;
    justify-content: space-between;
}

.price-filter span {
    display: flex;
    font-size: 0.8rem;
}

.landing-page-content {
    padding: 0 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1200px) {
    .landing-page-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .landing-page-content {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 380px) {
    .landing-page-container {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .landing-page-content {
        padding: 0;
    }
}