* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
}

.modal-container {
    background-color: white;
    width: 15rem;
    max-height: 15rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 2px;
    height: max-content;
}

/* .modal-container ul {
    list-style-type: none;
} */

/* .modal-container i {
    color: silver;
    margin-right: 15px;
    margin-left: 10px;
}

.modal-container li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
} */

.modal-container>.modal-header {
    margin-bottom: 1.25rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.modal-container>.modal-text {
    margin-bottom: 3rem;
    font-size: 1rem;
    color: grey;
}

.modal-container .modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer button {
    background-color: white;
    color: rebeccapurple;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    width: max-content;
    cursor: pointer;
}

.modal-footer button:nth-child(2) {
    margin-left: 2rem;
}

.modal-container.scrolling-container {
    width: 30rem;
}

.scrolling-container p {
    overflow-y: scroll;
    padding-right: 2rem;
    line-height: 1.75rem;
}

/* .scrolling-container {
    padding: 0;
} */

/* .scrolling-container .modal-header,
.scrolling-container .modal-footer {
    padding: 20px;
} */

/* .scrolling-container ul li {
    margin-left: 30px;
}

.scrolling-container input {
    height: 18px;
    width: 18px;
    margin-right: 20px;
    background-color: rebeccapurple;
}

.scrolling-container ul {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-top: 15px;
    height: 150px;
    overflow-y: scroll;
} */