.navbar a {
    color: whitesmoke;
    text-decoration: none;
}

.navbar .logo a {
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    min-height: 9vh;
    align-items: center;
    background-color: var(--body-bg);
    padding: 0 2rem;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: whitesmoke;
    margin-left: auto;
}

.nav-items li {
    margin-left: 2.5rem;
}

.nav-items span {
    margin-left: 0.5rem;
}

.nav-items input {
    height: 2.5rem;
    border-radius: 2px;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.nav-items button {
    background-color: var(--heading-color);
    border: none;
    height: 2.5rem;
    border-radius: 2px;
    color: whitesmoke;
    font-size: 1.1rem;
    cursor: pointer;
    width: 6rem;
    font-weight: 500;
}

.burger {
    cursor: pointer;
    display: none;
    margin-right: 2rem;
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 2px;
}

.nav-cart,
.nav-wishlist {
    position: relative;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
}

.nav-cart-mobile,
.nav-wishlist-mobile {
    display: none;
}

.nav-items li:nth-child(1) {
    order: -1;
}

@media screen and (max-width: 820px) {
    body {
        overflow-x: hidden;
    }

    .burger {
        display: block;
        position: absolute;
        right: 0;
    }

    .nav-cart,
    .nav-wishlist {
        display: none;
    }

    .nav-cart-mobile,
    .nav-wishlist-mobile {
        display: flex;
    }

    .nav-cart-mobile span,
    .nav-wishlist-mobile span {
        margin-left: 0;
    }

    .nav-cart-mobile a,
    .nav-wishlist-mobile a {
        margin-right: 5px;
    }

    .nav-items {
        position: absolute;
        right: 0px;
        top: 9vh;
        height: 91vh;
        background-color: var(--body-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 300px;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
        z-index: 1;
    }

    .nav-items li {
        opacity: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .nav-items {
        width: 70%;
    }
}

@media screen and (max-width: 370px) {
    .nav-items {
        width: 100%;
    }
}

.navSlide {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.toggle .line2 {
    opacity: 0;
}

.nav-open-opacity {
    opacity: 0.3;
}