* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 100%;
}

.container {
    height: 400px;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
    font-family: Verdana, sans-serif;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p { 
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

button {
    width: 8rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
}

@media screen and (max-width: 570px) {
    html {
        font-size: 75%;
    }
}


@media screen and (max-width: 420px) {
    html {
        font-size: 62.5%;
    }
}